# Ignore everything
/*
/*/

# Except ...
!.gitignore
!bootstrap/
!kitty/
!skhd/
!yabai/
!zsh/
!sketchybar/
!bash/
!nvim/

# Reignore
zsh/.zsh_history*
zsh/.zsh_sessions*
zsh/.zcompdump*
zsh/.p10k.zsh
